body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
body.modal-open {
    overflow: visible !important;
}



.carousel-item img{
  height: 50px;
  padding-right: 20px;
  /* opacity: 0.5;
  filter: grayscale(100%); */
}
.carousel-item img:hover{
  height: 50px;
  padding-right: 20px;
  opacity: 0.9;
  transition: opacity 2s;
  filter: grayscale(10%);
}

#nav3{
  margin-right:3px;
  background: transparent;
  /* background-color: #2a9d8f; */
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 3px;

}

#nav3:focus{
  shadow: green !important;
}
#navbarSupportedContent{
  text-align: center;
}

.navbar{
  width: 100%;
  background: transparent;




}




/* @media (max-width: 968px) {


  #navbarSupportedContent{
    text-align: left;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    font-family: font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #'Poppins', sans-serif;;
    line-height: 35px;
    text-align: center;
      display: inline-block;
      margin:auto ;
  }
.navbar{
  background: transparent;
} */


}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
.navbar .navbar-brand {
  color: #AAde87;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
.navbar .navbar-brand img {
  height: 1.7rem;
  padding-left:none;
  display:block;
}

.nav-link:hover{
  color: #087c6f;
border-bottom: 3px solid;
padding-bottom: 5px;
transition: color 1s;

}



.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    background: transparent;
 }

 .dropdown-item:hover {
     display: block;
     margin-top: 0; // remove the gap so it doesn't close
     background: transparent !important;
  }

.nav-link {
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #05386b;
  display:inline-block;
  line-height: 35px;
text-align: center;
margin-left: 1rem;
text-transform: uppercase;
letter-spacing: 0.15rem;
}

.nav-link.scrolled{
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #023047;
  display:inline-block;
  line-height: 35px;
text-align: center;
}

.nav-link.active {
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d62828 !important;
  display:inline-block;
  line-height: 35px;
text-align: center;
}

@media (min-width: 768px) {
  .serv{
    font-family: font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #1a1b1e;
    display:inline-block;
    width: 40rem;
  text-align: center;
  margin:auto;
  }
}





#port:hover{
  color: #087c6f;
  transition: color 1s ;
  border-bottom: 3px solid;
  padding-bottom: 5px;
}



.nav-item{
  margin-left: 20px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler{
  border: none;
  color: black;
}
.dropdown-menu{
  outline: none;
  border:5px;;
  margin-left: 0px;
  background: transparent;
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.dropdown-menu .dropdown-item{
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color:#05386b;
  letter-spacing: 0.25rem;
}
.dropdown-menu .dropdown-item:hover{
background: transparent;
border-bottom: 2px solid #05386b;
}
@media only screen and (max-width: 990px) {
  #navbarSupportedContent{
    text-align: left;
  }

    .navbar{
      background:#05386b;
      width: 100%;

    }
    .dropdown-menu .dropdown-item{
      font-family: font-family: 'Josefin Sans', sans-serif;
      font-size: 14px;
      font-weight: 700;
      color:#5cdb95;
      letter-spacing: 0.25rem;
    }

    .nav-link{
      text-align: center;
      margin-left: 20px;
      font-family: font-family: 'Josefin Sans', sans-serif;
      font-size: 13px;
      font-weight: 700;
      color: #5cdb95;
      display:inline-block;
      line-height: 35px;

    }
    .navbar .btn {
      margin-top: 5px;
      margin-left: 32px !important;
    }
    .nav-link:hover{
      color: #087c6f;
    border-bottom: 3px solid #087c6f;
    padding-bottom: none !important;
    padding-left: 15px;
    transition: color 1s;
    }
}

.btn{
  /* background: transparent; */
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}
/* services */

#serv1{
  background: url('assets/img/Web-Stats2.png') no-repeat center center;
  background-size: contain;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  background-color: #00000;
  height:60%;
  border: 20px solid;
}
#home1{
  background: url('assets/img/SMB.webp') no-repeat center center;
  background-size: cover;
  padding-bottom: 8rem;
  padding-top: 18rem;
  position: relative;
  background-color: #00000;
  height: 40rem;
  border: 20px solid white;
}

section.showcase{
  padding-top: 10rem;
}

section.showcase#showcase-home{
  padding-top: 0rem;
}

.showcase .showcase-text {
  padding: 3rem;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}
@media (min-width: 568px) {
  .showcase .showcase-text {
    padding: 5rem;
    padding-top: 2rem;
  }
}
@media (max-width: 568px) {
  #showcase-top .showcase-text {
    padding: 2rem;
    padding-top: 5rem;


  }

  .showcase .showcase-text {
    padding: 2rem;
    padding-top: 0rem;
  }

  #serv1{
    height:20rem !important;
    padding-top: 1px;
    margin-bottom: 1px;
  }

}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

/* body{
   overflow-x: hidden;
   -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
} */


header.masthead {
  position: relative;
  background-color: #5cdb95 !important;
  background: url("assets/img/Picture1.svg"), url("assets/img/Picture5.svg");
  background-position: right center, center;
  background-repeat: no-repeat,no-repeat;

  padding-top: 17.5rem;
  padding-bottom: 20.5rem;
  text-align: left;
  border-left: 8px solid #05386b;
  border: 8px solid #05386b;

    /* height: 50rem; */
}
#home-page{
background-color: #05386b;

}

/* header.masthead:before {
  content: "";
  position: absolute;
  background-color: #ffff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
} */
header.masthead h1{
  font-size: 6rem;
  color: #edf5e1;

  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  /* text-overflow: hidden;
  overflow:hidden; */
  letter-spacing: 1rem;
  display: inline;
  text-align: left;

}

header.masthead h3 {
  color: #edf5e1;
  font-family: 'Russo One', sans-serif;
  padding-bottom: 0px;
  text-decoration: underline 3px #05386b;
}

@media (max-width: 968px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 20.5rem;
  background: url("assets/img/Picture1.svg") no-repeat right bottom;
  }
  header.masthead h1{
    font-size: 4rem;
    color: #edf5e1;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-overflow: hidden;
    overflow:hidden;
    letter-spacing: 1rem;
    display: inline;
    text-align: left;
    padding-bottom: 4rem;
  }

  header.masthead h3 {
    color: #edf5e1;
    font-family: 'Russo One', sans-serif;
    padding-top: 3rem;
  }

}

@media (max-width: 740px) {
  header.masthead {
    padding-top: 12.5rem;
    padding-bottom: 20.5rem;
  background: url("assets/img/Picture1.svg") no-repeat right bottom;
  }
  header.masthead h1{
    font-size: 1.5rem !important;
    color: #edf5e1;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-overflow: hidden;
    overflow:hidden;
    letter-spacing: 1rem;
    display: inline;
    text-align: left;
    padding-bottom: 4rem;
  }

  header.masthead h3 {
    color: #edf5e1;
    font-family: 'Russo One', sans-serif;
    padding-top: 3rem;
  }

}



/* @media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
} */

/* @media (min-width: 768px){
  .carousel-item{
    height:500px;
  }
  .carousel-caption{Height: 300px;
  text-align: center;}
}

@media (min-width: 900px){
  .carousel-item{
  height: 600px;

  }
  .carousel-caption{Height: 400px;
  text-align: center;}
} */

#portfolio .container-fluid{
  background-color: rgba(21,76,121,0.1);
  border: 5px solid rgba(21,76,121,0.9);
  padding-top: 20px;
  padding-bottom: 40px;


}
.container h2{
  padding-top: 10px;
  padding-bottom: 12px;
  color:white;
  background-color: rgba(21,76,121,0.9);
  border-radius: 10px;
  border-bottom-left-radius: 50px;
  border-bottom: 4px solid rgba(21,76,121,0.9);

}

header.heads{
  position: relative;
  background-color: #5cdb95
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #5cdb95;

}


#portfolio .portfolio-item {
  max-width: 25rem;
  margin: auto;

}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#accordionOne{
margin:auto;
width: 75%;
}

.accordion-button{
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #1a1b1e;
  line-height: 35px;

}
/* #portfolio .portfolio-item .portfolio-link .portfolio-hover-content {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 50%);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
  border-radius: 10px;
} */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio img {
  width: 450px;
  height: 200px;
  border-radius: 10px;
}

@media (min-width:360px){
#portfolio img:hover {
  transform: scale(1.05) ;
}
}
@media (min-width:990px){
#portfolio img:hover {
  transform: scale(1.2) !important;
}
}


.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  height: 40rem;
  border-radius: 10px;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 !important{
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
  border-radius: 5px;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
/* prices */
#disc{
  text-decoration: line-through;
}
.table{
  margin: auto;
}
.heads{
  background-color: rgba(8, 124, 111,0.1);

}
#t{
  font-weight: lighter;
}
/* .card{
  height: 27rem;
  width: 18rem;

  margin-right: 10px;
} */



@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* mentor profiles  */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif
}

body {
  background: url("assets/img/Picture5.svg");
  background-position: right center, center;
  background-repeat: no-repeat,no-repeat;
  background-color: #5cdb95;
}



.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
    background-color: #05386b;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px #777777;
    box-shadow: 3px 5px 17px -4px #777777
}

.ratings i {
    color: green
}

.apointment button {
    border-radius: 20px;
    background-color: #eee;
    color: #000;
    border-color: #eee;
    font-size: 13px
}

#mentors{
  margin-top: 80px !important;
}
#mod1 h1{
  font-size: 3rem;
  color: #edf5e1;

  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  /* text-overflow: hidden;
  overflow:hidden; */
  letter-spacing: 1rem;
  display: inline;
  text-align: left;

}

.card img {
  width: 450px;
  height: 200px;
  border-radius: 10px;
}

@media (min-width:360px){
#portfolio img:hover {
  transform: scale(1.05) ;
}
}
@media (min-width:990px){
#portfolio img:hover {
  transform: scale(1.2) !important;
}
}
